@import '../../styles/main.scss';


.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    &HeaderDesktop{
        display: none;
        margin-bottom: 3rem;
        @include md {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            & > *:last-child{
                align-self: flex-start;
            }

            header{
                display: inline;
            }
        }
    }
    &Header{
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 3rem;
        @include md{
            display: none;
        }
    }

    @include md {
        padding: 0 6rem;
        & > *:last-child{
            display: none;
        }
    }
    &Container{
        width: 100%;
        @include md{
            display: grid;
            align-items: center;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
            grid-auto-rows: 500px;
        }

        @include custombreakpoint('1676'){
            grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
        }
    }
}


.product {
    overflow: hidden;
    width: 100%;
    height: 9rem;
    position: relative;
    margin-bottom: 2rem;
    @include md {
        height: 100%;
    }
    &:hover {
		cursor: pointer;
        & .productBgImg{
			transform: scale(1.4);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
            opacity: 0.9;
		}
	}

    &BgImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
    }

    &Title{
        color: $color-white;
        font-weight: 200;
        text-transform: uppercase;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        overflow-wrap: break-word;
        z-index: 10;

        h1 {
            font-weight: 200;
            font-size: 1.4rem;
            @include md{
                font-size: 2rem;    
            }
        }
    }
}