$screen-mobile: 375px;
$screen-mid: 700px;
$screen-desktop: 1440px;



@mixin sm {
    @media (max-width: #{$screen-mobile}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-mid}) {
        @content;
    }

}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
}

// Custom devices
@mixin custombreakpoint($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}