@import '../../styles/main.scss';

.rotate{
    transform: rotate(360deg);
    animation: rotation 1s linear;
    animation-delay: .55s;
}

@-webkit-keyframes rotation {
    0% {
            -webkit-transform: rotate(0deg);
    }
    50% {
            -webkit-transform: rotate(180deg);
    }
    100% {
            -webkit-transform: rotate(-180deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(-180deg);
    }
}

.nav {
    background: $color-black;
    height: 100vh;
    position: fixed;
    padding: 3rem 1.5rem;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    width: 100vw;
    overflow: hidden;
    transform: translateX(-100%);
    z-index: 100;
    &Open{
        transform: translateX(0);
    }
   

    &Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &Menu{
        color: $color-dark-gray;
        margin-top: 7rem;
        & ul {
            list-style-type: none;

            & li {
                font-size: 2rem;
                font-weight: 200;
                margin-bottom: 1rem;
                padding: .5rem 0;
                transition: color .2s ease-in;
                &:hover{
                    color: $color-white;
                }
            }
        }
    }
}

.closeIcon{
    cursor: pointer;
}